.login {
  font-family: "Inter", "Arial", sans-serif;
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px 30px 30px;
  box-sizing: border-box;
  min-height: 100vh;  
}

.login__form {
  width: 100%;
  max-width: 396px;
  min-width: 260px;
  min-height: 500px;  
  display: flex;
  flex-direction: column;
  position: relative;
}

.login__logo-link {
  margin: 0;
  height: 38px;
  width: 38px;
}

.login__logo {
  width: 38px;
  height: 38px;
}

.login__form-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  padding-top: 40px;
  padding-bottom: 16px;
  margin: 0;
}

.login__labels-block {
  display: flex;
  flex-direction: column;  
  width: 100%;    
}

.login__form-label {
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #A0A0A0;
  margin-top: 24px;
}

.login__form-input {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.23;
  background-color: transparent;
  color: black;    
  width: 100%;
  height: 29px;
  margin: 5px 0 0;  
  box-sizing: border-box;
  border-style: none;
  border: 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #E8E8E8;
}

.login__form-input:focus {
  outline: none;  
}

.login__error {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #EE3465;
  left: 0;
  height: 30px;
  margin-top: 10px;
}

.login__form-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.login__button {
  border-style: none;
  background-color: #2BE080;
  border-radius: 3px;
  font-weight: 500;
  color: white;
  font-size: 14px;
  line-height: 1.21;
  width: 396px;
  height: 45px;
  padding: 14px 0;
  box-sizing: border-box;
  cursor: pointer;
  margin-top: 180px;
}

.login__button:hover {
  opacity: .8;
}

.login__already {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #A0A0A0;
  text-align: center;
  margin: 16px 0 0;
}

.login__register-link {
  color: #2BE080;
  text-decoration: none;
  line-height: 1.25;  
  transition: ease-in-out 0.2s;
  padding-left: 3px;
}

.login__enter-link:hover {
  opacity: .7;
}

@media screen and (max-width: 325px) {
  .login {
     padding: 36px 30px 30px;
  }

  .login__form {
    align-items: center;
  }

  .login__form-footer {
    margin: 210px 0 0;
  }

  .login__form-title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 56px;
  }

  .login__button {
    width: 260px;
    font-size: 12px;
    line-height: 1.25;
    margin-top: 57px;
  }

  .login__register-link {
    font-size: 12px;
  }

  .login__already {
    font-size: 12px;
  }
}